@model string
@{
    ViewData["Title"] = "A web-page";
}
<div class="text-center d-flex flex-column justify-content-center align-items-center">
    <p>Here is a User!</p>
    <div class="border border-dark col-4">
        <h1>@Model</h1>
    </div>
</div>
